<% js_bundle :learnosity %>
<span class="learnosity-response question-<%= @response_id %>" data-question-id="<%= @response_id %>" data-learnosity-request="<%= ActiveSupport::JSON::encode @learnosity_request %>"></span>
<input type="hidden" name="question_<%= @response_id %>" class="response-holder question_input"/>
