.rubric_container {
  margin-top: 20px; }
  .rubric_container .rubric_table {
    border-collapse: collapse;
    width: 99.9%;
    page-break-inside: avoid; }
  .rubric_container thead th {
    background-color: #cccccc; }
  .rubric_container td, .rubric_container th {
    border: 1px solid #aaaaaa;
    padding: 2px 5px; }
  .rubric_container .rubric_title {
    background-color: #cccccc;
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    padding: 5px;
    margin-right: 1px;
    font-weight: bold; }
  .rubric_container .has-assessments-warning {
    font-size: 0.8em;
    font-weight: normal; }
  .rubric_container tr.criterion td.criterion_description {
    min-width: 120px; }
    .rubric_container tr.criterion td.criterion_description .container {
      margin-left: 0;
      margin-right: 0;
      width: auto;
      position: relative;
      font-size: 0.9em; }
    .rubric_container tr.criterion td.criterion_description .links {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0; }
    .rubric_container tr.criterion td.criterion_description .learning_outcome_flag, .rubric_container tr.criterion td.criterion_description .threshold {
      display: none; }
    .rubric_container tr.criterion td.criterion_description .long_description_holder {
      font-size: 0.8em;
      display: block; }
      .rubric_container tr.criterion td.criterion_description .long_description_holder.empty {
        display: none; }
    .rubric_container tr.criterion td.criterion_description.editinghover .links {
      display: none; }
    .rubric_container tr.criterion td.criterion_description .assessment-comments {
      font-size: 10px; }
      .rubric_container tr.criterion td.criterion_description .assessment-comments h6, .rubric_container tr.criterion td.criterion_description .assessment-comments .h6 {
        margin-top: 10px; }
  .rubric_container tr.criterion.learning_outcome_criterion td.criterion_description .learning_outcome_flag {
    display: inline; }
  .rubric_container tr.criterion.learning_outcome_criterion td.criterion_description .threshold {
    font-size: 0.8em;
    display: block;
    white-space: nowrap; }
  .rubric_container tr.criterion.learning_outcome_criterion td .links {
    display: none;
    visibility: hidden; }
  .rubric_container tr.criterion.learning_outcome_criterion td.points_form .editing {
    display: none; }
  .rubric_container tr.criterion.learning_outcome_criterion td.points_form .displaying {
    display: block; }
  .rubric_container tr.criterion.learning_outcome_criterion td.points_form .ignoring {
    display: none; }
  .rubric_container tr.criterion.learning_outcome_criterion.ignore_criterion_for_scoring .points_form .editing {
    display: none; }
  .rubric_container tr.criterion.learning_outcome_criterion.ignore_criterion_for_scoring .points_form .displaying {
    display: none; }
  .rubric_container tr.criterion.learning_outcome_criterion.ignore_criterion_for_scoring .points_form .ignoring {
    display: block; }
  .rubric_container table.ratings {
    border-collapse: collapse;
    width: 100%;
    margin-left: -1px;
    table-layout: fixed; }
    .rubric_container table.ratings td {
      border: 1px solid #aaaaaa;
      padding: 2px 5px;
      border-bottom-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      font-size: 0.8em;
      vertical-align: top;
      padding: 2px 8px; }
      .rubric_container table.ratings td .container {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        padding: 5px 0;
        position: relative; }
      .rubric_container table.ratings td .links {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0; }
      .rubric_container table.ratings td.edge_rating .delete_rating_link {
        display: none; }
  .rubric_container .editing {
    display: none; }
  .rubric_container .displaying {
    display: block; }
  .rubric_container .ignoring {
    display: none; }
  .rubric_container .assessing {
    display: none; }
  .rubric_container td.criterion_description.completed {
    background-color: #dddddd; }
  .rubric_container td.rating.selected {
    background-color: #ccffaa; }
  .rubric_container td.points_form .criterion_comments {
    display: none; }
  .rubric_container td.points_form .displaying .criterion_comments {
    display: inline; }
    .rubric_container td.points_form .displaying .criterion_comments.empty {
      display: none; }
  .rubric_container.assessing .points_form .editing {
    display: block; }
  .rubric_container.assessing .points_form .displaying {
    display: none; }
  .rubric_container.assessing .points_form .ignoring {
    display: none; }
  .rubric_container.assessing .points_form .criterion_comments {
    display: inline; }
    .rubric_container.assessing .points_form .criterion_comments.empty {
      opacity: 0.7; }
      .rubric_container.assessing .points_form .criterion_comments.empty:hover {
        opacity: 0.9; }
  .rubric_container.assessing span.assessing {
    display: inline; }
  .rubric_container.assessing div.assessing {
    display: block; }
  .rubric_container.assessing div.not_assessing {
    display: none; }
  .rubric_container.assessing td.rating:hover {
    background-color: #aadd99;
    cursor: pointer; }
  .rubric_container.assessing tr.criterion.learning_outcome_criterion td.points_form .editing {
    display: block; }
  .rubric_container.assessing tr.criterion.learning_outcome_criterion td.points_form .displaying {
    display: none; }
  .rubric_container.assessing tr.criterion.learning_outcome_criterion td.points_form .ignoring {
    display: none; }
  .rubric_container.assessing tr.criterion.learning_outcome_criterion.ignore_criterion_for_scoring td.points_form .editing {
    display: none; }
  .rubric_container.assessing tr.criterion.learning_outcome_criterion.ignore_criterion_for_scoring td.points_form .displaying {
    display: none; }
  .rubric_container.assessing tr.criterion.learning_outcome_criterion.ignore_criterion_for_scoring td.points_form .ignoring {
    display: block; }
  .rubric_container.editing .editing {
    display: block; }
  .rubric_container.editing .displaying {
    display: none; }
  .rubric_container.editing .ignoring {
    display: none; }
  .rubric_container.editing td.editing, .rubric_container.editing th.editing {
    display: table-cell; }
  .rubric_container.editing tr.criterion td.criterion_description .long_description_holder {
    font-size: 0.8em;
    font-weight: bold; }
    .rubric_container.editing tr.criterion td.criterion_description .long_description_holder.empty {
      font-weight: normal;
      display: block; }
  .rubric_container.editing tr.criterion td.criterion_description:hover .links {
    display: block; }
  .rubric_container.editing table.ratings td.add_right {
    border-right-color: black;
    background: url(/images/add_right.png) no-repeat center right; }
  .rubric_container.editing table.ratings td.add_left {
    border-left-color: black;
    background: url(/images/add_left.png) no-repeat center left; }
  .rubric_container.editing table.ratings td.add_column {
    cursor: pointer; }
  .rubric_container.editing table.ratings td:hover .links {
    display: block; }
  .rubric_container .has-assessments-warning {
    font-size: 0.8em;
    font-weight: normal;
    text-align: left; }

.rubric_summary {
  margin-top: 0 !important; }
  .rubric_summary .rating_holder {
    margin-bottom: 3px; }
  .rubric_summary .rating {
    color: #777777;
    font-style: italic;
    text-align: left; }
  .rubric_summary .rating_comments_dialog_link {
    font-size: 0.8em;
    max-height: 2.7em;
    cursor: pointer;
    overflow: hidden; }
  .rubric_summary .x_out_of_x {
    float: right; }
  .rubric_summary.free_form .rating.description {
    display: none; }
  .rubric_summary .points_form .rating_custom {
    height: 15px; }

.edit-rubric-form .button-container {
  margin: 8px 0;
  text-align: right; }

#rubric_holder .rubric_title {
  margin-right: 0; }
#rubric_holder .hide_rubric_link {
  color: #333333;
  cursor: pointer; }
