<table style="width: 500px;" class="formtable">
  <tr>
    <td colspan="2">
      <p><%= t :description, "This plugin allows the upload a course sheet using the format Column 1 Master Course, Column 2 Target course. The information of Master course will be copied to the Target course." %></p>
    </td>
  </tr>
</table>