<a href="#" class="menu-item-title">
  <%= t('links.resources', "Resources")%>
  <span class="menu-item-title-icon"></span><i class="icon-mini-arrow-down"></i>
</a>
<div class="menu-item-drop">
  <% if @context && (acct = account_context(@context)) %>
    <table cellspacing="0">
      <tr>
        <td class="menu-item-drop-column">
          <ul class="menu-item-drop-column-list">
            <% acct[:settings][:resources_links].each do |title, url| %>
              <li class="customListItem" >
                <a target="_blank" href="<%= url %>"><%= title %></a>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  <% end %>
</div>


