#rubrics ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0;
}
#rubrics ul li {
  padding: 3px 0;
  margin-bottom: 5px;
}
#rubrics ul li .title {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  color: $ic-brand-primary;
}
#rubrics ul li .links {
  float: right;
  opacity: 0.5;
  color: $ic-brand-primary;
}
#rubrics ul li .details {
  clear: left;
  display: block;
  font-size: 0.7em;
  margin-left: 20px;
}

#rubric_associations{
  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0;

    li{
      margin-bottom: 30px;

      .title {
        font-size: 1.2em;
        font-weight: bold;
      }
      .rubric-association-details {
        margin-left: 40px;
      }
      .rubric_option{
        margin-left: 20px;
      }
      span {
        font-weight: bold;
      }
      label {
        font-size: 13px;
      }
    } 
  }
  .published {
    color: #33802a;
  }
}


