<% define_content :subject do %>
  <%= t :subject, "Course Enrollment" %>
<% end %>

<%= t :body, "Dear %{name},", :name => asset.user.name %>
<p>
<%=
    case asset.type
    when 'TeacherEnrollment'
      t :body_teacher, "You have been enrolled in %{course} as an instructor.", :course => asset.course.name
    when 'TaEnrollment'
      t :body_ta, "You have been enrolled in %{course} as a TA.", :course => asset.course.name
    when 'ObserverEnrollment'
      t :body_observer, "You have been enrolled in %{course} as an observer.", :course => asset.course.name
    when 'DesignerEnrollment'
      t :body_designer, "You have been enrolled in %{course} as a designer.", :course => asset.course.name
    else
      t :body_student, "You have been enrolled in %{course} as a student.", :course => asset.course.name
    end
%>
</p>

<p>To access the course:</p>

<ul>
    <li>Login to http://login.cu-portland.edu/canvas (this is the only place you will be able to access Canvas from, please bookmark this page)</li>
    <li>Use your my.CU user name and password to access Canvas.</li>
    <li>That’s it. You should now see your Canvas homepage. To access your newly added course, hover over the Courses tab in the course navigation menu at the top of the screen, you will see all of your courses listed, choose <%= t :body_course, "%{course}", :course => asset.course.name %>.</li>
    <li>If you are having technical problems with accessing the site please submit a help ticket at <a href="http://support.hotchalklearn.com/support.html">http://support.hotchalklearn.com/support.html</a> and our support team will get back to you.</li>
</ul>

<p>Warm regards,</p>
<p>Canvas Support</p>