@import "base/environment";

#x_id, #x_classes {
	width: 95%;
}

input[type="text"]{
	width: 97%; padding: 8px; margin:0 auto;color: black;
}
.x-column{width:48%;float:left;}
.right{float: right;}
.help_setup_link textarea{
	width: 97%;
    height: 100px;
    color: black;
}
.help_setup_link td input{
	width: 206px;
}

.help_setup_link td input:disabled{
	background-color: #fff;
}

#help_setup_links{
  td{
  	vertical-align: baseline;
  }
}

#help_setup_links {
  td:first-child {
    padding-top: 0;
  }
}

.button-container button{
	background-color: #0096db;
    font-weight: 500;
    color: #fff;	
}
