.linked-course-border{
  padding-left: 6px !important;
  border-style: solid !important;
  border-left-color: orange !important;
  border-left-width: 6px !important;
}

.discussion-border{
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

.linked-course-line{
  background-color: orange
}

.linked-course-color{
  color: orange;
  margin: 0px 2px 0px 10px;
}

.linked-course-color i {
  margin-right: 2px;
}