<%
  css_bundle :login_confirm
  js_bundle :oauth2_confirm
  @headers = false
  @body_classes << "full-width modal body--login-confirmation"
  content_for :page_title, t(:page_title, "App Login")
%>

<div id="modal-box" class="ic-Login-confirmation">
  <header class="ic-Login-confirmation__header ic-Login-confirmation__header-custom">
    <div class="ic-Login-confirmation__logo-custom">
      <%=  image_tag(brand_variable("ic-brand-Login-logo"), :alt => "HotChalk Ember") %>  
    </div>        
  </header>
  <div class="ic-Login-confirmation__content">
    <%= render("confirm_form") %>
  </div>
</div>
